# Python cache and environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDE
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
